/* FilePicker.module.css */
.container {
    display: grid;
    place-items: center;
    background-color: #f8f9fa;
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
  }
  
  .button {
    display: inline-block;
    background-color: red;
    background-color: #007bff;
    color: #ffffff;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .button:hover {
    background-color: #0056b3;
    border-color: #004095;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
  
  .button:active {
    background-color: #0056b3;
    border-color: #004095;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  